<h1><%= accurate_title %></h1>

<div data-hook="account_summary" class="account-summary well">
  <dl id="user-info">
    <dt><%= Spree.t(:email) %></dt>
    <dd><%= @user.email %> (<%= link_to "Change password", spree.edit_account_path %>)</dd>
  </dl>
</div>

<div data-hook="account_my_orders" class="account-my-orders">

  <h3><%= Spree.t(:my_orders) %></h3>
  <% if @orders.present? %>
  <div class="table-responsive">
    <table class="table table-striped order-summary">
      <thead class="active">
      <tr>
        <th class="order-number"><%= Spree::Order.human_attribute_name(:number) %></th>
        <th class="order-date"><%= Spree.t(:date) %></th>
        <th class="order-status"><%= Spree.t(:status) %></th>
        <th class="order-payment-state">Payment Status</th>
        <th class="order-shipment-state">Shipment Status</th>
        <th class="order-total"><%= Spree.t(:total) %></th>
        <th class="gift-comment">Gift comment</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="order-number"><%= link_to order.number, order_url(order) %></td>
          <td class="order-date">
            <% if order.completed_at.nil? %>
              <% if order.state == 'cart' %>
                <%= link_to "Complete Purchase", checkout_state_path(order.checkout_steps.first, order: order.id), class: "btn btn-sm btn-primary" %>
              <% elsif order.state == 'address' %>
                <%= link_to "Complete Purchase", checkout_state_path(order.checkout_steps[1], order: order.id), class: "btn btn-sm btn-primary" %>
              <% elsif order.state == 'delivery' %>
                <%= link_to "Complete Purchase", checkout_state_path(order.checkout_steps[2], order: order.id), class: "btn btn-sm btn-primary" %>
              <% elsif order.state == 'payment' %>
                <%= link_to "Complete Purchase", checkout_state_path(order.checkout_steps[3], order: order.id), class: "btn btn-sm btn-primary" %>
              <% else %>
                <%= link_to "Complete Purchase", spree.order_path(order), class: "btn btn-sm btn-primary" %>
              <% end %>
            <% else %>
              <%= l order.completed_at.to_date %>
            <% end %>
          </td>
          <td class="order-status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
          <td class="order-payment-state">
            <%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %>
            <% if order.payment_state && order.payment_state == 'balance_due' %>
              <%= link_to "Pay now", checkout_state_path(order.checkout_steps[3], order: order.id), class: "btn btn-sm btn-primary" %>
            <% end %>
          </td>
          <td class="order-shipment-state"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
          <td class="lead text-primary order-total"><%= order.display_total %></td>
          <td><%= order.gift_comment %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <div class="alert alert-info"><%= Spree.t(:you_have_no_orders_yet) %></div>
  <% end %>
  <br />

</div>
