<fieldset id="password-credentials">
  <div class="form-group <%= 'hidden' if request.path == '/account/edit' %>">
    <% if params[:email] %>
      <p>Enter your password to create an account and receive RM10 discount for your first purchase. </p>
      <%= f.email_field :email, :value => params[:email], :class => 'form-control', :placeholder => Spree.t(:email) %>
    <% else %>
      <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
    <% end %>
  </div>
  <hr />
  <div class="form-group">
    <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>
  </div>
</fieldset>
<div data-hook="signup_below_password_fields"></div>
